body {
    width: 100%;
    background-image: url("../images/japish.png");
    background-repeat: repeat-y;
    background-position: center;
    text-align: center;

}
#headerTitle {
    display: inline-block;
}