body {
    background-image: url("../images/sushiMain.jpg");
    background-repeat: repeat;
    text-align: center;

}

#header-container{
    width:100%;
}
#headerTitle {
    display: inline-block;

}