body {
    background-image: url("../images/sushiMain.jpg");
    background-repeat: repeat;
    text-align: center;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Muli', sans-serif;
    font-weight: bold;
}

#header-container{
    width:100%;
}
#headerTitle {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
}
h1 {
    font-size: 48px;
}
#gameRules {
    display: inline-block;
    text-align: center; 
    border: 1px solid coral;
    width: inherit;
    padding-top: 15px;
    font-size: 18px;
    background-color: #ffbdbd;
    color: black;
    opacity: 0.7;   
}
.button {
    width:200px;
    height:200px;
}
#sushi1 {
    background-image: url("../images/sushi1.jpg");
    background-size: 100%;  
}
#sushi2 {
    background-image: url("../images/sushi2.jpg");
    background-size: 100%;
}
#sushi3 {
    background-image: url("../images/sushi3.jpg");
    background-size: 100%;
}
#sushi4 {
    background-image: url("../images/sushi4.jpg");
    background-size: 100%;
}
#randomNumber {
    text-align: center; 
    border: 1px solid coral;
    background-color: 	#ffbdbd;
    margin: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 36px;
    color: black;
    opacity: 0.7;
}
#currentScore {
    text-align: left; 
    border: 1px solid coral;
    background-color:#ffbdbd;
    margin: 15px;
    padding-top: 15px;
    font-weight: bold;
    padding-bottom: 30px;
    color: black;
    opacity: 0.7;
}
#totalScoreText {
    text-align: center; 
    border: 1px solid#baffc9;
    background-color: #e1f7d5;
    margin: 15px;
    padding-top: 15px;
    padding-right: 25px;
    padding-left: 10px;
    font-weight: bold;  
}
#totalScore {
    text-align: center; 
    border: 1px solid #baffc9;
    background-color: #e1f7d5;
    margin: 15px;
    padding-top: 15px;
    font-weight: bold;
    padding-bottom: 30px;
}